layout {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
        pane name="lazygit" {
            cwd "__PROJECT_PATH__"
            command "fish"
            args "-i" "-c" "lazygit"
        }
        pane name="terminal" {
            cwd "__PROJECT_PATH__"
        }
    }
}
