* {
  font-family: Noto Sans JP;
  font-weight: bold;
}

@import "scss/colors.scss";
@import "scss/mixins/window.scss";
@import "scss/mixins/hover.scss";

@import "scss/lib.scss";

@import "./scss/bar.scss";
@import "./scss/control_center.scss";
@import "./scss/osd.scss";
@import "./scss/powermenu.scss";
